<footer>
    <div class = "footerElements">
        <div id = "copyright">
    &copy Voiceover United
</div>
<div id = "footerlink">
    <a href="/about">ABOUT </a>
    <a href="/contact">CONTACT</a>
    </div>
<div id = "social">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook"></i>
</div>
</footer>