<!DOCTYPE html>
<html lang = "en-US">
    <head>
        <meta charset = "utf-8">
        <title>
            William Poole | ITIS 4166 | Voiceover United
        </title>
        <link href = "/css/default.css" type = "text/css" rel = "stylesheet">
        <script src="https://kit.fontawesome.com/d9d057b41d.js" crossorigin="anonymous"></script>
    </head>
<header>
    <div id = "logo">
   <a href = "/"> <img src = "/images/logo.png" class = "logo"><a></a>
</div>
<h1>
    <a class="headerlink" href="/event/newEvent">New Event | </a>
    <a class="headerlink" href="/signUp">Sign Up | </a>
    <a class="headerlink" href="/logIn">Log In</a>
</h1>
<hr class = "solid">
<div id = "navbar">
<a href= "/event/events">Events</a>
<hr class = "solid">
</div>
</header>