<body>
    <%- include('./components/header.ejs')%>
    <main>
        <p>  <b>Voiceover United </b>is a website dedicated to providing up and coming voice actors with information and classes! Voiceover United was founded in 2023 by Will Poole. </p>
    </main>
    <%- include('./components/footer.ejs')%>
</body>