<body>
    <%- include('./components/header.ejs')%>
    <main>
        <h3><%= error.status %> Error</h3> 
        <p><%= error.message%> </p>
    </main>
    <%- include('./components/footer.ejs')%>
</body>