
    <body>
        <%- include('./components/header.ejs')%>
        <main>
            <p>  Welcome to <b>Voiceover United </b>! Voiceover United seeks to give voiceover artists a resource for acting workouts, Q&A events, and more! <br> </p> 
            <p>Be sure to check out the Events section to view all upcoming and ongoing events!</p>
        </main>
        <%- include('./components/footer.ejs')%>
    </body>
</html>