header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: right;
}

body {
    background-color:rgb(0, 74, 117);
    color:chocolate;
    font-size: 20px;
    min-height: 50px;
    margin-bottom:50px;
    clear:both;
}

p {
    max-width: 750px;
    margin: auto;
    padding-top: 150px;
    line-height: 1.5;
    text-align: center;
    font-size: 25px;
}

footer {
    position: fixed;
    height: 25px;
    padding: 10px;
    padding-top: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 22px;
    background-color:black;
}

a {
    text-decoration: none;
    color:#50C7C7;
    
}

.headerlink{
    font-size: medium;
}

.logo{
    width: 200px;
    top: 0;
    left: 0;
}

hr.solid{
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#copyright{
    overflow: hidden;
    display: inline;
}

#footerlink{
    margin-left:25px;
    word-spacing: 10px;
    overflow: hidden;
    display: inline;
}

#social{
    overflow: hidden;
    display: inline;
    float: right;
    margin-right: 25px;
    word-spacing: 10px;
}

h2 {
    overflow: hidden;
    display: inline;
}

#editbutton{
    width: 10px;
    margin: 0 2px;
}

#deletebutton{
    width: 10px;
}

#description {
font-size: 18px;
max-width: 400px;
margin-left: 300px;
margin-top: 75px;
line-height: 2;
overflow: hidden;
}

#category{
    width: 500px;
    margin-left: 50px;
}

#title{
    font-size:12pt;
    margin-left: 86px;
}
#details{
    height:50px;
    font-size:12pt;
    margin-left: 30px;
}

#location{
    font-size:12pt;
    margin-left: 52px;
}

#hostname{
     font-size:12pt;
     margin-left: 32px;
}

#startdate{
    width:450px;
    margin-left: 85px;
}

#enddate{
    width:450px;
    margin-left: 91px;
}

#image{
    width: 200px;
    margin-left: 73px;
}

#submit{
    margin-left: 128px;
}

.user-form {
    display: grid;
    grid-template-columns: 110px 200px;
    row-gap: 0.5rem;
  }

.success {
    background: rgba(108, 192, 112, 0.7);
    color: #fff;
    width: 70%;
    margin: 0 auto 1rem auto;
    text-align: center;
    padding: 0.5rem 0;
  
  }
  
  .error {
    background: rgba(255, 102, 51, 0.7);
    color: #fff;
    width: 70%;
    margin: 0 auto 1rem auto;
    text-align: center;
    padding: 0.5rem 0;
  }

  .eventimage{
    width: 150px;
    margin-top: 50px;
  }

  .profileeventlist, .profilersvplist{
    max-width: 400px;
    overflow: hidden;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin:0 auto;    
    display:block;
  }
