header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: right;
}

body {
    background-color:rgb(0, 74, 117);
    color:chocolate;
    font-size: 20px;
}

p {
    max-width: 750px;
    margin: auto;
    padding-top: 150px;
    line-height: 1.5;
    text-align: center;
    font-size: 25px;
}

footer {
    position: fixed;
    height: 50px;
    padding: 10px;
    padding-top: 20px;
    bottom: 0;
    width: 100%;
    font-size: 22px;

}

a {
    text-decoration: none;
    color:#50C7C7;
    
}

.headerlink{
    font-size: medium;
}

.logo{
    width: 200px;
    top: 0;
    left: 0;
}

hr.solid{
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#copyright{
    overflow: hidden;
    display: inline;
}

#footerlink{
    margin-left:25px;
    word-spacing: 10px;
    overflow: hidden;
    display: inline;
}

#social{
    overflow: hidden;
    display: inline;
    float: right;
    margin-right: 25px;
    word-spacing: 10px;
}